<main id="main">
    <section class="banner-container result-section" style="background-image: url('/Content/images/banner_start.png')">
        <div class="block_container">
            <div class="restrict allpadding">
                <div class="result-block">
                    <h1>完 成！        </h1>
                    <div class="controls_group">
                        <div class="result-title">完成運行的貼文網址：</div><a class="result-text" href="https://www.tfoodies.com" target="_blank">
                            https://www.facebook.com/trulyfoodies/
                            <div class="icon_link"></div>
                        </a>
                    </div>
                    <div class="controls_group">
                        <div class="result-title">需求數量：</div>
                        <div class="result-text">88</div>
                    </div>
                    <div class="controls_group">
                        <div class="result-title">目前完成數量：</div>
                        <div class="result-text">88</div>
                    </div>
                </div>
                <div class="btn-wrap"><a class="btn" href="operate.html" title="互惠">互惠Again!</a><a class="btn" href="member.html" title="會員中心">會員中心</a></div>
            </div>
        </div>
    </section>
</main>
