<main id="main">
    <section class="banner-container result-section" style="background-image: url('/Content/images/banner_start.png')">
        <div class="block_container">
            <div class="restrict allpadding">
                <div class="result-block">
                    <h1>下單成功，已加入排程!</h1>
                    <div class="controls_group">
                        <div class="result-title">正在運行的貼文網址：</div><a class="result-text" href="@ViewBag.Url" target="_blank">
                            @ViewBag.Url
                            <div class="icon_link"></div>
                        </a>
                    </div>
                    <div class="controls_group">
                        <div class="result-title">需求數量：</div>
                        <div class="result-text">@ViewBag.Count</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section scripts {
<script type="text/javascript">
var ws;
$(
function () {
$("#btnConnect").click(function () {
$("#messageSpan").text("Connection...");
ws = new WebSocket("ws://" + window.location.hostname + ":" + window.location.port + "/OrderMs/WSChat");
ws.onopen = function () {
$("#messageSpan").text("Connected!");
};
ws.onmessage = function (result) {
$("#messageSpan").text(result.data);
};
ws.onerror = function (error) {
$("#messageSpan").text(error.data);
};
ws.onclose = function () {
$("#messageSpan").text("Disconnected!");
};
});
$("#btnSend").click(function () {
if (ws.readyState == WebSocket.OPEN) {
ws.send($("#txtInput").val());
}
else {
$("messageSpan").text("Connection is Closed!");
}
});
$("#btnDisconnect").click(function () {
ws.close();
});
}
);
</script>
}