<main id="main">
    <section class="banner-container" style="background-image: url(/Content/images/banner.png)">
        <div class="restrict allpadding">
            <h1>HeO 臉書互惠系統</h1>
            <div class="content-block">
                <div class="about-content">
                    <p class="purple-font">HeO主要提供各位會員免費互助,藉由會員互相幫忙來達成會員互相互助的行銷手段,以互助的方式會員只需付出一點代價,就可以收到倍數的回報。<br>在會員(你/妳)幫助別人按取一個讚時,不但可以得到額外獎勵金,在同時間還會有許多其他會員幫助您指定的文章按讚,若會員本身沒有按讚需求,也可以線上掛機自動賺取獎勵金。</p>
                    <p class="purple-font">*我們保證不盜取或販售任何登入FB的臉書帳號,僅在會員登入期間同意授權會員互助使用,若不想參於互助按讚或不想等待按讚時間,也可以購買VIP。</p>
                    <p class="purple-font">*我們接受多組帳號同時登入賺取獎勵金或使用,但注意頻繁使用該互惠平台,可能會導致臉書認定異常登入,也有可能在幫助其他會員作業過多時功能遭臉書鎖定幾天,使用互惠前請先評估風險並閱讀相關規定。</p>
                </div>
            </div>
        </div>
    </section>
    <section class="intro-container restrict">
        <div class="about-bg">
            <div class="about-bg-block">
                <div class="intro-img"><img src="~/Content/images/intro_union.png"></div>
                <div class="intro-content">
                    <h2>互惠大家一起來</h2>
                    <p>使用人數越多！能按讚的讚數越高！<br>HeO目前僅提供臉書互惠,請先使用臉書登入HeO,登入後會員可在使用頁面輸入您要作業的網址,並填入數量送出後,其他會員就會在登入HeO平台期間為您的輸入的網址進行作業,在您登入期間若有人像您帳號購買您的服務,則會額外得到獎勵金</p>
                </div>
            </div>
        </div>
        <div class="about-bg purple">
            <div class="about-bg-block">
                <div class="intro-img hide"><img src="~/Content/images/intro_fb.png"></div>
                <div class="intro-content">
                    <h2>申請真人帳號</h2>
                    <p>若登入HeO互惠的臉書帳號,是有長時間使用帳號,或者極像真人帳號,即可申請真人帳號,會由管理者或工作人員進行人工審核判斷,每組帳號僅一次機會,若認定像假號或小號,該會員往後則無法再次送出送審,由於是人工審核,送出後大約需要1~2天會員才會收到系統通知(遇假日則延期)！登入系統後，增加您的貼文按讚數同時也會幫別人按讚。</p>
                </div>
                <div class="intro-img show"><img src="~/Content/images/intro_fb.png"></div>
            </div>
        </div>
        <div class="about-bg linkto-hdz">
            <div class="about-bg-block">
                <div class="intro-img"><img src="~/Content/images/intro_link.png"></div>
                <div class="intro-content">
                    <h2>連結HDz社交平台行銷系統</h2>
                    <p>HDZ社交平台行銷系統,為所有互惠或行銷產品總和的販售平台,上面販售許多不同種類的社群產品,HeO上的獎勵金可到該平台上做消費使用</p><a class="btn" href="https://www.hdzbulk.com/index.php/tw" target="_blank" title="前往HDz">前往HDz </a>
                </div>
            </div>
        </div>
        <div class="about-bg purple">
            <div class="about-bg-block">
                <div class="intro-img hide"><img src="~/Content/images/intro_feedback.png"></div>
                <div class="intro-content">
                    <h2>加入再拿回饋金</h2>
                    <p>登入HeO平台後,帳戶即會自動自助作業其他登入會員進行互助作業,但倘若有會員購買VIP或至HDZ進行服務購買,並使用到會員的臉書帳號就會有額外獎勵金,獎勵金會自動列入到HeO平台,若需要轉換使用,需要送出HDZ帳號進行獎勵金轉換<br>HeO以實際作業次數為判定獎勵金機制,HeO會員可自行決定自身帳號有哪些功能願意開放給付費會員購買,每項功能獎勵金皆不相同</p>
                </div>
                <div class="intro-img show"><img src="~/Content/images/intro_feedback.png"></div>
            </div>
        </div>
    </section>
</main>
