@model Members
<main id="main">
    <section class="banner-container" style="background-image: url('/Content/images/banner_start.png')">
        <div class="block_container">
            <div class="restrict allpadding">
                <h1>認證FB會員</h1>
            </div>          
            <div class="single-item-restrict">
                <div class="single-item-container">
                    <div class="certified-content">
                        <h2>@Session["Facebookname"]</h2>
                        <div class="fb-photo"><img src="@Session["Img"]"></div>
                        @using (Html.BeginForm("Certified", "HomeMs", FormMethod.Post, new { @id = "form" }))
                        {                            
                            <div class="controls_group">
                                <input type="checkbox" id="real" name="Facebookstatus" value="1" />
                                <input type="hidden" id="real" name="Facebookstatus" value="0" />
                                <label for="real">申請真人帳號(可獲取更多免費時間與更多獎勵金)</label>
                            </div>
                            <div class="error">*無法通過認證！請上傳FB大頭貼後再試一次。</div>
                            <button class="btn" type="submit" title="下一步">下一步</button>
                        }                       
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>