extends layouts/default.pug

block value
  - var currentPage = 'start';

block main
  section.banner-container.result-section(style="background-image: url('images/banner_start.png')")
    .block_container
      .restrict.allpadding
        //- 進行中的運行狀態↓
        .result-block
          h1 系統運行中...
          .controls_group
            .result-title 正在運行的貼文網址：
            a.result-text(href="https://www.tfoodies.com", target="_blank") https://www.facebook.com/trulyfoodies/
              .icon_link
          .controls_group
            .result-title 需求數量：
            .result-text 88
          .controls_group
            .result-title 目前完成數量：
            .result-text 66
        
        //- 冷卻的運行狀態↓
        //- .result-block
        //-   h1 冷卻中...        
        //-   .controls_group
        //-     .result-title 哎呀！系統冷卻時間未到！
            
        //-   .controls_group
        //-     .result-title 請稍候
        //-       span.wait-sec 600
        //-       | 秒再使用！
        
        
        //- //- 完成的運行狀態↓
        //- .result-block
        //-   h1 系統運行中...        
        //-   .controls_group
        //-     .result-title 完成運行的貼文網址：
        //-     a.result-text(href="https://www.tfoodies.com", target="_blank") https://www.facebook.com/trulyfoodies/
        //-       .icon_link
        //-   .controls_group
        //-     .result-title 需求數量：
        //-     .result-text 88
        //-   .controls_group
        //-     .result-title 目前完成數量：
        //-     .result-text 88
        //- .btn-wrap
        //-   a.btn(href="operate.html", title="互惠") 互惠Again!
        //-   a.btn(href="member.html", title="會員中心") 會員中心

       

