
block main
  section.popup_block
    .popup_inner
      .popup-img
        img(src="images/logo_footer.png")
      h1.popup-title 使用條款與守則
      .popup-content
        h2 服務條款
        p HeO社交平台行銷系統(以下簡稱HeO)所提供的所有使用服務與以下條款。通過儲值或使用我們的服務，即表示您同意您以閱讀並完全理解以下服務條款，對於未閱讀以下服務條款的用戶，HeO對任何方式的損失概不負責。
        h2 概要
        ul
          li 通過HeO下訂單或儲值後，無論您是否閱讀，您都會自動接受以下列出所有服務條款。#[br]
          li 我們保留更改這些服務條款的權利，恕不另行通知，再下單之前，您需要閱讀所有服務條款，以確保您即時瞭解任何更改或未來的任何更改。#[br]
          li 為了確保公司正常運行，HeO服務費用可能隨時更改，恕不另行通知。#[br]
          li HeO努力提供我們會員對我們的期望，在這種情況下我們保留更改服務類型與內容的權利。#[br]

        h2 服務
        ul
          li 我們無法保證我們100％的帳戶都會有個人照片，完整的個人資料和完整生活動態，儘管我們努力使這一切成為最終目標。#[br]
          li HeO不保證任何服務處理時間，再下單時我們會提供系統運算後最佳的訂單估算，但是這些僅是估計值，我們不會對負面評論或因未超過處理時間的行為負責，如果您正在進行有敏感性時間的任何活動,並使用HeO，風險自負。#[br]

        h2 退款政策
        ul 
          li 當充值金額到HeO平台後，除特殊原因，否者會員不得以任何理由要求退款。#[br]

          li HeO中的訂單在下單後不予退還或取消，如果訂單無法交付，你將收到HeO帳戶的退款。#[br]

          li 放錯作業網址與私人帳戶不符合退款條件，作業前一定要確認每個訂單。#[br]

          li 惡意破壞性，詐欺性等惡意的活動，將導致你的帳號被封鎖，沒有例外。#[br]

          li 對於相同的頁面/ URL /鏈接，請不要同時為同一服務器/服務訂購，直到您為同一鏈接完成運行(別處購買也包含)，在這種情況下，我們無法給你正確的粉絲/喜歡數量， 我們不會退還這些訂單，請留意！#[br]

          li 我們的大部分服務立即開始，部分需要24-48小時的服務。如果您未及時收到服務，請聯繫客服以解決問題。我們每天18小時在線為您提供處理。#[br]

          li 倘落購買的數量遠低於原本數量，我們將可能視情況將補充移除，不另行補充，因為我們無法再客觀情況下合理判斷責任歸屬。#[br]

          li 原粉絲數與購買粉絲數落差過大，將視情況將補充資格移除，如粉絲為10萬，購買1千粉（僅供參考）#[br]

          li 在保固時間內送出的所有訂單都享有退款或補充的權利，過保固後不再對訂單進行任何責任。#[br]

        h2 隱私政策
        ul
          li HeO高度重視您的隱私，我們遵循保密政策。

          li 在HeO，我們不會分享你提供給我們的任何資訊，此外我們絕不會與第三方共享此信息，包含你的訂單。

          li 我們不與服務對象所有者溝通和聯繫。

          li 我們不會透露你轉售的相關信息，所有訊息我們將會嚴密保留。

          li HeO將保護你帳戶所有資訊，以確保安全並防止詐欺，盜竊或丟失，此外我們保證你的網路安全，不會被第三方複製或修改。

        h2  免責聲明
        p  HeO對您或您企業的訂單可能遭受的任何名譽損害或其他任何損害不承擔任何責任

