
block main
  section.popup_block
    .popup_inner
      .popup-img
        img(src="images/transfer-img.png")
      .popup-title 你確定要轉出獎勵金
        span.reward-number 100
      .popup-title 至HDz帳號
        span.reward-number Jessie
        span 中
      .btn-wrap
        a.btn.cancel(href="javascript:;" title="取消") 取消
        a.btn(href="member_success.html" title="確認") 確認

