doctype html
html
  head
    meta(charset='utf-8')
    title 分享你家小寶貝
    meta(name='KeyWords', content='')
    meta(name='Description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body
    <!--[if lt IE 9]>
    .old_browser
      .old_browser_inner
        .oops OOPS!
        .oops_title 您的瀏覽器版本太舊了！
        p
          | 請更新至 Internet Explorer 9 以上版本或選用更現代化的瀏覽器，
          br
          br
          | 使用老舊版本的瀏覽器瀏覽本網站將可能有無法預測的錯誤，請儘快更新。
          br
          br
          | 建議您使用 #[a(href='http://www.google.com/chrome/', target='_blank') Google Chrome 瀏覽器]
          br
          br
          | Copyright © 2018 HDZ 社交平台行銷系統 All Rights Reserved. Design by #[a(href="http://weypro.com.tw/", target="_blank") WEYPRO].
    <![endif]-->

    #wrapper
      main
        block main
          #vote-wrapper
            .clear
              a.login-btn(href="javascript:;" title="FaceBook登入") FaceBook登入
            h1 分享你家小寶貝
            .vote-container
              .vote-item
                .vote-photo
                  img(src='images/fb/photo-1.png')
                .vote-title-wrap
                  .vote-title 法鬥阿熊
                  .vote-number 票數285
                p 我是法鬥阿熊我喜歡吃！什麼東西都能吃進肚！
                a.vote-btn(href="javascript:;" title="投票") 投票
              .vote-item
                .vote-photo
                  img(src='images/fb/photo-2.png')
                .vote-title-wrap
                  .vote-title 摸摸
                  .vote-number 票數267
                p 快來看我都在外面玩什麼！
                a.vote-btn(href="javascript:;" title="投票") 投票
              .vote-item
                .vote-photo
                  img(src='images/fb/photo-3.png')
                .vote-title-wrap
                  .vote-title 小寶兒
                  .vote-number 票數288
                p 我很乖又聽話，最喜歡玩足球。
                a.vote-btn(href="javascript:;" title="投票") 投票
              .vote-item
                .vote-photo
                  img(src='images/fb/photo-4.png')
                .vote-title-wrap
                  .vote-title 阿黃
                  .vote-number 票數198
                p 阿黃很聰明，又很乖，都會陪阿嬤去散步！
                a.vote-btn(href="javascript:;" title="投票") 投票
              .vote-item
                .vote-photo
                  img(src='images/fb/photo-5.png')
                .vote-title-wrap
                  .vote-title Stacy
                  .vote-number 票數106
                p 喵皇我就是任性！
                a.vote-btn(href="javascript:;" title="投票") 投票
              .vote-item
                .vote-photo
                  img(src='images/fb/photo-6.png')
                .vote-title-wrap
                  .vote-title 弟弟
                  .vote-number 票數234
                p 愛撒嬌 愛吃愛摸摸 喜歡跑步也喜歡睡。
                a.vote-btn(href="javascript:;" title="投票") 投票
              .vote-item
                .vote-photo
                  img(src='images/fb/photo-7.png')
                .vote-title-wrap
                  .vote-title 妞妞
                  .vote-number 票數139
                p 長毛的時候相當蓬鬆漂亮，愛撒嬌黏人，很乖。
                a.vote-btn(href="javascript:;" title="投票") 投票
              .vote-item
                .vote-photo
                  img(src='images/fb/photo-8.png')
                .vote-title-wrap
                  .vote-title 麥芽
                  .vote-number 票數227
                p 麥芽最聽話！
                a.vote-btn(href="javascript:;" title="投票") 投票
              .vote-item
                .vote-photo
                  img(src='images/fb/photo-9.png')
                .vote-title-wrap
                  .vote-title 齊齊
                  .vote-number 票數330
                p 是誰在看我～
                a.vote-btn(href="javascript:;" title="投票") 投票
             
    // build:js scripts/vendor.js
    script(src='../bower_components/jquery/dist/jquery.js')
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild

    block JS
