@{
    var data = ViewBag.orderfacebooklist as IPagedList<Orderfaceooklist>;
    int x = 0;
    string status;
}
@model Members
<!-- MAIN CONTENT -->
<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="well padding-10">
                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="widget-body-toolbar">

                            <div class="row">

                                <div class="form-inline">
                                    <div class="col-sm-10">
                                        <a href="@Url.Action("Order", "OrderMs", new { p = ViewBag.pageNumber, prev = ViewBag.prev })" class="btn btn-info">返回</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="table-responsive">

                            <table class="table table-hover table-bordered table-striped smart-form">
                                <thead>
                                    <tr>
                                        <th width="10%" class="text-center">驗證狀態</th>
                                        <th class="text-center">Facebook帳號</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Orderfaceooklist entity in data)
                                    {
                                        <tr>
                                            @if (entity.Members.Memberloginrecord.OrderByDescending(a => a.Createdate).FirstOrDefault().Status == 0)
                                            {
                                            <td class="text-center"><i class="fa fa-question" aria-hidden="true" style="color:black"></i></td>
                                            }
                                            else if(entity.Members.Memberloginrecord.OrderByDescending(a => a.Createdate).FirstOrDefault().Status == 1)
                                            {
                                            <td class="text-center"><i class="fa fa-check" aria-hidden="true" style="color:green"></i></td>
                                            }
                                            else
                                            {
                                            <td class="text-center"><i class="fa fa-times" aria-hidden="true" style="color:red"></i></td>
                                            }                                         
                                            <td class="text-center">@entity.Facebookaccount</td>
                                        </tr>
                                        x++;
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- end widget content -->

                    <div class="text-center">
                        @Html.PagedListPager(list: data, generatePageUrl: page => Url.Action("ViewOrderfacebooklist", new {Orderid = ViewBag.Orderid, p = ViewBag.pageNumber, np = page }))
                    </div>

                </div>

            </article>
            <!-- WIDGET END -->

        </div>
        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
<!-- Modal -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">確認</h4>
            </div>
            <div class="modal-body">
                <p>
                    確定要刪除嗎？
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    取消
                </button>
                <a href="#" class="btn btn-primary btn-ok">
                    確定
                </a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section scripts {

}