<div class="member_navigation">
    <div class="item">
        <a href="@Url.Action("Member", "MemberMs")" title="會員管理">
            <div class="title">會員管理</div>
            <div class="text">真人帳號、開放社群功能</div>
        </a>
    </div>
    <div class="item">
        <a href="@Url.Action("Feedbackrecord", "FeedbackMs")" title="獎勵金">
            <div class="title">獎勵金</div>
            <div class="text">回饋的獎勵金紀錄、申請轉出獎勵金</div>
        </a>
    </div>
    <div class="item">
        <a href="@Url.Action("Feedbackcount", "FeedbackMs")" title="使用次數">
            <div class="title">使用次數</div>
            <div class="text">會員臉書帳號授權服務使用次數</div>
        </a>
    </div>
</div>