
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DepositForm</title>
</head>
<body>
    @Html.Raw(ViewBag.Form)
</body>
</html>
