
@{
    Layout = null;
}

<!DOCTYPE html>

<section class="popup_block">
    <div class="popup_inner">
        <div class="popup-img"><img src="~/Content/images/transfer-img.png" /></div>
        <div class="popup-title">你確定要轉出獎勵金<span class="reward-number">@ViewBag.Money</span></div>
        <div class="popup-title">至HDz帳號<span class="reward-number">@Session["hdz_account"]</span><span>中</span></div>
        <div class="btn-wrap">
            <a class="btn cancel" id="cancel_button" href="@Url.Action("Feedbackrecord", "FeedbackMs")" title="取消">取消</a>
            <a class="btn" href="@Url.Action("Feedbacksuccess", "FeedbackMs")" title="確認">確認</a>
        </div>
    </div>
</section>