// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
$sans-serif: "Source Sans Pro","Helvetica Neue",Arial,"PingFang TC","LiHei Pro","微軟正黑體","Microsoft Jhenghei", sans-serif;

// Color
$white: #ffffff;
$black: #101010;

$gray: #7C7C7C;
$gray-smoke: #D5D5D5;
$gray-light: #7B6C6C;
$gray-lighten: #979797;
$gray-dark: #4A4A4A;
$gray-darken: #2E2E2E;
$gray-purple: #F0EDF2;
$red: #BB0B0B;

$main: #432953;
$main-light: #B26ADC;
$main-brown: #3B3535;
$main-yellow: #FFBD02;
$main-pink: #FF72A2;
$main-green: #9ECA03;
$main-green-light: #9CDA79;

